[submodule "stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "glm"]
	path = external/glm
	url = https://github.com/icaven/glm.git
[submodule "external/argparse"]
	path = external/argparse
	url = https://github.com/cofyc/argparse.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/TTGUI"]
	path = external/TTGUI
	url = https://github.com/coolsigma103/TenThreeGUI.git
